In [ ]:
# Create Delta Table ..
%sql
create or replace table employee_demo (
emp_id INT,
emp_name string,
gender string,
salary int,
dept string
)
using delta
location '/mnt/datalake/delta/employee_demo'